<p>
    <mat-toolbar color="primary">
      <span>App users</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/dashboard" >Dashboard</button>
      <button mat-button routerLink="/dashboard/usuarios"  >Usuarios </button>
      <button mat-button routerLink="/ashboard/reportes">Reportes</button>
      <span class="example-spacer"></span>
      <button mat-icon-button routerLink="/logout" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>
